<app-header></app-header>

<div class="main-layout">
  <app-sidebar (geeRequested)="requestGEELayer()"
   (datacubeRequested)="requestDataCubeLayer()"
  ></app-sidebar>

  <div class="content">
    
    <!-- <router-outlet></router-outlet> -->
    <!-- <app-map #mapComp></app-map> -->
     <!-- Map OR Lexcube iframe -->
<div class="map-container">

  <!-- OpenLayers Map -->
  <app-map #mapComp *ngIf="showMap"></app-map>

  <!-- Lexcube iframe -->
  <iframe 
    *ngIf="showLexcube"
    src="https://www.lexcube.org/?!esdc-3.0.2/air_temperature_2m/156-552/0-718/674-1390"
    width="100%"
    height="100%"
    style="border:none;">
  </iframe>

</div>

  </div>
</div>

<app-footer></app-footer>
